@import 'variables.css';

.cart-section {
  padding-bottom: 10rem;
}

.cart-item-img-box {
  overflow: hidden;
  border-radius: 2rem;
  min-width: 10rem;
  height: 10rem;
}

.cart-item-img {
  min-width: 10rem;
  height: 10rem;
}

.cart-item-extra {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
}

.cart-item-total-price,
.cart-item-original-price {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 125%;
}

.cart-delete-button {
  width: 3.2rem;
  height: 3.2rem;
  overflow: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.4rem;
  border: 1px solid var(--background-body);
  transition: all 0.3s;
}

@media (hover: hover) {
  .cart-delete-button:hover {
    background-color: var(--border-light);
  }
}

.cart-delete-icon {
  width: 100%;
}

.cart-totals-wrapper {
  padding-left: 4.4rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 125%;
}

.confirm-order-btn {
  width: 20rem;
}
