/* FOR RESPONSIVE DESIGN */

/* <1440px screen size */
@media (max-width: 1439px) {
  /* Home Page */
  .about-images {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 4rem;
  }

  .img-box-home {
    max-width: 68.8rem;
  }

  .img-2,
  .img-3 {
    display: none;
  }

  .img-item {
    transform: scale(1.06);
  }

  .col-1 {
    gap: 0;
  }

  .col-2 {
    gap: 0;
  }

  /* Menu Page */
  .primary-header {
    width: 70%;
  }
}

/* <=1280px screen size */
@media (max-width: 1280px) {
  /* Home Page */
  .mobile-app {
    flex-direction: column;
  }

  /* Menu Page */
  .primary-header {
    width: 90%;
  }
}

/* <=944px screen size */
@media (max-width: 944px) {
  /* Home Page */
  .hero {
    padding: 10rem 6rem;
  }

  /* Menu Page */
  .primary-header {
    width: 100%;
  }

  /* Both */
  .footer {
    flex-direction: column;
    align-items: start;
    padding: 10rem 6rem;
  }
}

/* <=864px screen size */
@media (max-width: 864px) {
  .footer-offer {
    width: 56.8rem;
  }

  .slider-content {
    width: 46rem;
  }

  /* Menu page */
  .modal-container {
    max-width: 68.8rem;
  }

  .modal-product-info {
    max-width: 32.6rem;
  }
}

/* <=768px screen size */
@media (max-width: 768px) {
  /* Home Page */
  .main-btn-img {
    transform: scale(1);
    width: 20px;
    height: 20px;
  }

  .phone-img {
    width: 34.8rem;
  }

  .offer {
    width: 100%;
  }

  .slider-content {
    width: 44rem;
  }

  /* Menu Page */
  .hidden-product {
    display: none;
  }

  .load-btn {
    /* display: flex; */
  }

  .coffee-products {
    margin-bottom: 0;
  }

  .dessert-products {
    margin-bottom: 0;
  }

  /* Both */
  .logo-box {
    width: 100%;
  }

  .nav-items li a {
    font-size: 3.2rem;
    line-height: 125%;
  }

  .coffee {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .footer-offer {
    width: 51.6rem;
    width: 100%;
  }

  /* Burger Menu Default Styles */
  .top-line {
    transition: all 0.4s;
  }

  .bottom-line {
    transition: all 0.4s;
  }

  .nav-bar {
    position: absolute;
    left: 100vw;
    z-index: 5;
    top: 9.9rem;
    padding-top: 6rem;
    height: 100vh;
    width: 100vw;
    background-color: #e1d4c9;
    transition: all 1s;
  }

  .nav-items {
    flex-direction: column;
    gap: 6rem;
  }

  .coffee-nav {
    margin-top: 4rem;
    display: flex;
    gap: 1.6rem;
    font-size: 3.2rem;
    line-height: 125%;
  }

  .coffee-icon {
    width: 4rem;
    height: 4rem;
  }

  /* Active Burger Menu Styles */
  .burger-menu--open.nav-bar {
    visibility: visible;
    left: 0;
    width: 100%;
  }

  .burger-menu--open .top-line {
    transform: translateY(5px) rotate(45deg);
  }

  .burger-menu--open .bottom-line {
    transform: translateY(-5px) rotate(-45deg);
  }
}

/* <=736px screen size */
@media (max-width: 736px) {
  /* Menu Page */
  .arrow-btn-box {
    display: none;
  }

  .slider-container {
    justify-content: center;
  }

  .slider-area {
    min-height: 53.2rem;
  }

  .slider-content {
    width: 34.8rem;
  }

  /* Both */
  .heading-1-font-mob {
    font-size: 4.2rem;
    line-height: 115%;
  }

  .heading-2-font-mob {
    font-size: 3.2rem;
  }

  .modal-container {
    max-width: 55rem;
  }

  .modal-img-box {
    width: 0;
  }

  .modal-img {
    display: none;
  }

  .notification {
    padding: 1rem 2rem;
  }
}

/* <=660px screen size */
@media (max-width: 660px) {
  /* Home Page */
  .hero {
    padding: 6rem 1.6rem;
  }

  .offer {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }

  /* Menu Page */
  .tabs-wrapper {
    gap: 0.8rem;
  }

  .modal-container {
    max-width: 45rem;
  }
}

/* <=544px size */
@media (max-width: 544px) {
  /* Home Page */
  .container {
    padding: 2rem 1.6rem 4rem 1.6rem;
  }

  .slider-content {
    width: 30rem;
  }

  .footer {
    padding: 6rem 1.6rem;
    gap: 4rem;
  }

  .footer-offer {
    width: 51.6rem;
    width: 100%;
  }

  /* Menu page */
  .modal-container {
    max-width: 34.2rem;
  }
}

/* <380px screen size */
@media (max-width: 379px) {
  /* Home Page */
  .phone-img {
    width: 100%;
  }

  .slider-area {
    min-height: 48rem;
  }

  .slider-content {
    width: 26rem;
  }

  /* Menu Page */
  .tabs-wrapper {
    flex-direction: column;
  }
}
